<%- include("header") -%>

<div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
</div>

<div class="box">
      <% newListItems.forEach(function(item){ %>
      <form class="" action="/delete" method="post">
          <div class="item">
                <input type="checkbox" name= "checkBox" value="<%= item._id %>" onchange="submit()">
                <div class="item-container">
                  <p class="task"><%=  item.name  %></p>
                  <p class="desc"><%= item.description %></p>
                </div>
          </div>
          <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <% }) %>

      <form class="item" action="/" method="post">
            <div class="item-container">
                  <input type="text" class="task" name="newItem" placeholder="New task" autocomplete="off">
                  <input type="text" class="desc" name="description" placeholder="Description" autocomplete="off">
            </div>
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
</div>

<%- include("footer") -%>
